body {
    background-color: #171717;
    font-family: "Noto Sans CJK HK", Arial, sans-serif;
    color: #fff;
}
div.side-bar {
    border-right: 1px solid #fff;
}
div.menu {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 8em;
}
div.menu-item {
    margin: .4em 0 .4em 0;
}
div.main-column {
    padding-left: 2em;
}
div.nav-links {
    margin: 0;
    padding: 0;
}
div.prev-chapter {
    text-align: left;
}
div.next-chapter {
    text-align: right;
}
h1 {
    color: #2c4b33;
    font-family: "Noto Sans Mono", monospace;
    font-size: 130%;
    font-weight: bold;
    text-align: center;
    margin-top: .15em;
}
h2 {
    font-family: Arial, sans-serif;
    font-size: 135%;
    font-weight: bold;
    margin-top: .8em;
}
h3 {
    font-size: 115%;
    font-weight: bold;
    margin-top: .5em;
}
p {
    margin-left: 0;
    padding-left: 0;
    font-size: 105%;
}
p.code {
    font-size: 100%;
    font-family: "Noto Sans Mono", monospace;
    background-color: #2a2a2a;
    border: 1px solid #535353;
    margin: 1.2em 0 1.2em 0;
    padding: .7em .5em .7em .5em;
}
p.info-box {
    font-size: 96%;
    font-family: "Noto Sans CJK HK", Arial, cursive;
    font-style: italic;
    color: #deefef;
    background-color: #7e3131;
    border: 1px solid #777;
    margin: 1.2em 0 1.2em 0;
    padding: .15em .5em .25em .5em;
}
a {
    color: #7be;
    text-decoration: none;
}
a.code {
    font-family: "Courier New", "Noto Sans Mono", monospace;
}
a:hover {
    color: #5be;
    text-decoration: underline;
}
.xml {
    /* ... */
}
.java {
    /* ... */
}
span.inline-code {
    font-family: "Courier New", "Noto Sans Mono", monospace;
    font-size: 97%;
    font-style: normal;
}
span.cursive-code {
    font-family: "Courier New", "Noto Sans Mono", monospace;
    font-size: 96%;
    color: #eee;
}
p.code i {
    font-style: normal;
}
i.xml-elem {
    font-weight: bold;
    color: #CC7832;
}
i.kw {
    font-weight: bold;
    color: #CC7832;
}
i.method {
    color: #FFC66D;
}
i.call {
    color: #f59bff;
}
i.call-static {
    font-style: italic !important;
}
i.const {
    color: #9876AA;
    font-style: italic !important;
}
i.str {
    color: #ffffc7;
}
i.nr {
    color: #00F5FF;
}
i.cmt {
    color: #5b816e;
}
.message-arguments td {
    vertical-align: top;
}
.message-arguments td:first-of-type {
    text-align: right;
    padding-right: 1em;
}
